body {
    background: rgb(193,209,227);
    background: radial-gradient(circle, rgba(193,209,227,0.8953956582633054) 0%, rgba(252,70,93,0.5172443977591037) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;   
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content > img {
    margin: 2% 2.5%;
    width: 20%;
    border-radius: 3px;

    transition: all 0.5s ease-in-out;
}

.content > img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px;
}

@media only screen and (max-width: 900px) {
    body {
        background: cornflowerblue;
    }
    .content > img {
        margin: 2% 2.5%;
        width: 95%;
    }
}